<%- include("header") %>
<div class="result">

  <% if(error){ %>

    <%= error %> 

  <%} else { %>

    <h1>Quantidade dolares: <%= quantidade %> </h1>
    <h1>Cotacao: <%= cotacao %> </h1>
    <h1>Conversao: <%= conversao %> </h1>

  <%}%>  
</div>
<%- include("footer") %>